.user-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-card {
    padding: .5rem 1rem;
    border: 1px dashed #ccc;
    border-radius: 8px;
  
}
button {
    border: none;
    margin-right: 8px;
    border-radius: 4px;
    background-color: rgba(18, 119, 130, 0.284);
}

.add-user-button{
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}